@*@model IEnumerable<OrionTracking.Models.AssetLocation>*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="dataGridContainer"></div>

@section Scripts {
    <link rel="stylesheet" href="~/lib/dev-extreme/css/dx.light.css">
    <link rel="stylesheet" href="~/css/Dev-Extreme.css">

    <script type="text/javascript" src="~/lib/dev-extreme/js/dx.all.js"></script>
    <script type="text/javascript" src="~/lib/dev-extreme/js/dx.aspnet.data.js"></script>
    <script type="text/javascript" src="~/js/DevExtreme/indices/asset-locations.js"></script>
}