@{
    ViewData["Title"] = "Index";
}

<btn type="button" id="btn-asset-table-toggle">change places!</btn>

<div id="dataGridContainer"></div>

@section Scripts {
    <link rel="stylesheet" href="~/lib/dev-extreme/css/dx.light.css">
    <link rel="stylesheet" href="~/css/Dev-Extreme.css">

    <script type="text/javascript" src="~/lib/dev-extreme/js/dx.all.js"></script>
    <script type="text/javascript" src="~/lib/dev-extreme/js/dx.aspnet.data.js"></script>
    <script type="text/javascript" src="~/js/DevExtreme/indices/assets.js"></script>
}