@*@model IEnumerable<OrionTracking.Models.Employee>*@

@{
    ViewData["Title"] = "Index";
}
<div>
    <h1>
        <a asp-action="Create"><i class="gg-user-add"></i></a>
    </h1>
</div>
<div id="dataGridContainer"></div>



<div>
    <h1>this is a test of things</h1>
</div>
@section Scripts {
    <link rel="stylesheet" href="~/lib/dev-extreme/css/dx.light.css">
    <link rel="stylesheet" href="~/css/Dev-Extreme.css">

    <script type="text/javascript" src="~/lib/dev-extreme/js/dx.all.js"></script>
    <script type="text/javascript" src="~/lib/dev-extreme/js/dx.aspnet.data.js"></script>
    <script type="text/javascript" src="~/js/DevExtreme/employee-index.js"></script>
}